<h1>Tasks</h1>
<%= render 'form' %>
<!-- Generates:
<form accept-charset="UTF-8" action="/tasks" class="new_task" id="new_task" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="JvxxJGKScbnMf8qvfCn1f2wLMp9mgORSV09SKq5TJhs="></div>
  <label for="task_task">Task</label>
  <input id="task_task" name="task[task]" type="text">
  <input name="commit" type="submit" value="Create Task">
</form>
-->
<ul>
  <% for task in @tasks %>
    <li id="task_<%= task.id %>">
      <%= task.task %>
      | <%= link_to 'Edit', edit_task_path(task) %>
      | <%= link_to 'Delete', task, :method => 'delete' %>
    </li>
  <% end %>
</ul>